#slideShow {
  position: relative;
  left: 354px;
  top: -235px;
  width: 800px;
}

#slideShow ul {
  list-style-type: none;
  overflow: hidden;
}

#slideShow li {
  display: none;
  opacity: 0;
  position: absolute;
  z-index: 1;
}

.show {
  display: block !important;
  z-index: 2;
}
