#slideShow {
  position: relative;
  left: 354px;
  top: -235px;
  width: 800px;
}

#slideShow ul {
  list-style-type: none;
  overflow: hidden;
}

#slideShow li {
  display: none;
  float: left;
}

.show {
  display: block !important;
}
