#textLogo {
  background: url('@WIDGET_PATH@/img/logo.png') no-repeat;
  width: 980px;
  height: 231px;
}

/*
#imageLogo {
  background: url('@WIDGET_PATH@/img/panther.png');
  width: 250px;
  height: 279px;
  margin: 40px 0 0 246px;
  float: left;
}
*/
